@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

.nav-bar-brand a {
    font-family: 'Skranji', cursive;
}

a {
color:red;
}

.nav-item {
    color: red;
}

body{
    margin:0;
    padding:0;
    background-color: rgba(0, 0,0,0.938);
}

.navbar{
background-color:transparent;
position:relative;
z-index: 4;
}

.nav-link {
    font-size: 14px;
}

main{
    position:absolute;
    top: 0%;
    z-index: 0;
}

.carousel-control-prev , .carousel-control-next {
    width:8%;

}

.wrap{
    height:640px;

}

.card , .list-group-item{
background-color:rgba(0,0,0,0.712);
}


.parallax {
    background-image: url('/Assets/img/gaia.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height:500px;   
}

@media only screen and (max-device-width:320px){
    .wrap{
        height:200px;
    }
    .col-md-4{
        margin:5% 0%;
    }

    .carousel-control-next , .carousel-control-prev {
        display:none;
    }
}

.contenedor2 {
margin-top: 40px;
display: flex;
justify-content: center;


}

h2{
    font-family: 'Skranji', cursive; 
    color:red;
}